.idea/*
.idea_backup/*
.ipynb_checkpoints/*
data
result/*.npz
result/log
utils/__*
utils/.*
utils/*.ipynb
result_local/*
result_local
Defect detection debug Mingren.ipynb
models
chainercv/*
chainer_*
chainercv
